.wrapper {
  position: relative;
  background: linear-gradient(#141e30, #243b55);
  font-family: sans-serif;
  padding: 18px 0;
}
.container {
  width: 380px;
  margin: 0 auto;

  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.mainTitle {
  text-align: center;
  color: #ffffff;
}
.secondTitle {
  text-align: center;
  color: #ffffff;
}
